{% extends 'backend/layout/base.html' %}

{% load sass_tags %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'backend/scss/catalog.scss' %}">
{% endblock %}

{% block content %}
<section class="content container">
    <input type="search" class="content__search" placeholder="Поиск">
    <ul class="categories">
    {% for category in categories %}
        <li class="categories__item category">
            <a href="{{ category.get_absolute_url }}" class="category__link">
                <p class="category__name">{{ category.name }}</p>
                <img class="category__img" src="{{ category.image.url }}" alt="{{ category.name }}">
            </a>
        </li>
    {% endfor %}
    </ul>
</section>
{% endblock content %}