{% extends 'backend/layout/base.html' %}

{% load static %}
{% load sass_tags %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'backend/scss/profile.scss' %}">
{% endblock %}

{% block content %}
<section class="content container profile">
    <div class="profile__avatar avatar">
        <img class="avatar__img" src="{% static 'backend/img/profile/avatar.png' %}">
        <a class="avatar__btn">
            
        </a>
    </div>
    <form class="profile__form" method="post" enctype="multipart/form-data">
        <!-- <input id="file-upload" type="file" name="file-upload"/> -->
        <label class="profile__label">Имя Фамилия</label>
        <input class="profile__input" placeholder="Имя Фамилия">
        <label class="profile__label">E-mail</label>
        <input class="profile__input" placeholder="E-mail">
        <label class="profile__label">Телефон</label>
        <input class="profile__input" placeholder="Телефон">
         <!-- <input type="submit" value="Отправить"> -->
    </form>
    <section class="profile__btns">
        <a href="#" class="profile__btn">Изменить пароль</a>
        <a href="#" class="profile__btn">История заказов</a>
        <a href="#" class="profile__btn profile__btn--warning">Выйти</a>
    </section>
</section>
{% endblock content %}